---
import  {CollectionEntry,getCollection} from "astro:content";
import Layout from '@layouts/Layout';
import Header from "@components/Header";
import Main from "@layouts/Main";
import Footer from "@components/Footer";
import PostDetails from "@layouts/PostDetails";
import getPageNumbers from "@utils/getPageNumbers";


export interface Props {
    post: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
    // const posts = await getCollection("blog", ({data}) => !data.draft);
    const posts = await getCollection("blog");

    const post = posts.map(post => ({
        params: {slug: post.slug},
        props: {post},
    }));

    // const pagePaths = getPageNumbers(posts.length).map(pageNum => ({
    //     params: {slug: String(pageNum)},
    // }));

    return post;
    // return [...postResult, ...pagePaths];
}

// const { slut } = Astro.params;
const { post } = Astro.props;
---
<Layout title={post.data.title}>
    <Header />
    <Main>
        <PostDetails post={post} />
    </Main>
    <Footer />
</Layout>