---
import  {CollectionEntry,getCollection} from "astro:content";
import Layout from '@layouts/Layout';
import PostPreview from "@components/PostPreview";
import Header from "@components/Header";
import Main from "@layouts/Main";
import Footer from "@components/Footer";

export async function getStaticPaths() {
	const posts = await getCollection("blog");

	// const tags = getUniqueTags(posts);
	const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

	return uniqueTags.map((tag) => {
		const filteredPosts = posts.filter((post) => post.data.tags && post.data.tags.includes(tag));
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;

---
<Layout>
	<Header />
	<Main>
		<div class="main-header">
			<h1 class="main-title">包含「{tag}」标签的文章</h1>
		</div>
		<div class="content">
			{posts.map((p) => <PostPreview post={p} />)}
		</div>
	</Main>
	<Footer />
</Layout>