---
import Layout from '@layouts/Layout';
import { getCollection, getEntry } from 'astro:content';
import Header from "@components/Header";
import Footer from "@components/Footer";
import Main from "@layouts/Main";

const posts = await getCollection('blog');
const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<Layout title="Tags">
	<Header />
	<Main>
		<div class="main-header">
			<h1 class="main-title">Tags</h1>
		</div>
		<div class="main-content">
			<div class="tags">
				{tags.map((tag) => (
					<p class="tag"><a href={`/tags/${tag}`}>#{tag}</a></p>
				))}
			</div>
		</div>
	</Main>
	<Footer />
</Layout>


<style>
	a {
		//color: #00539F;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
	}

	.tag {
		margin: 0.25em;
		padding: .5em 1em;
		font-size: 1.15em;
		//background-color: #F8FCFD;
	}
</style>