---
import {SITE} from "@config";
import Layout from '@layouts/Layout';
import Header from "@components/Header";
import Footer from "@components/Footer";
import Main from '@layouts/Main';
import PostPreview from '@components/PostPreview';

import { getCollection, getEntry } from 'astro:content';
import getSortedPosts from "../utils/getSortedPosts";
const posts = await getCollection('blog');
const sortedPosts = getSortedPosts(posts);
---

<Layout title={SITE.title}>
	<Header />
	<Main>
		{sortedPosts.map((p) => <PostPreview post={p} />)}
	</Main>
	<Footer />
</Layout>