---
import {SITE} from "@config";
import Layout from '@layouts/Layout';
import Preview from '@components/Preview';

import { getCollection, getEntry } from 'astro:content';
import getSortedPosts from "../utils/getSortedPosts";
const posts = await getCollection('blog');
const sortedPosts = getSortedPosts(posts);
---

<Layout title={SITE.title}>
	<div class="content container">
		{sortedPosts.map((p) => <Preview post={p} />)}
	</div>
</Layout>