---
import ThemeIcon from './ThemeIcon.astro';
import Navigation from "./Navigation.astro";
import {SITE} from "@/config.ts";
---
<header>
    <div class="header-container flex flex-wrap py-14">
        <div class="logo">
            <a href="/" class="title">
                {SITE.title}
                <!--<ThemeIcon />-->
            </a>
        </div>
        <Navigation />
    </div>
</header>