---
import ThemeIcon from "./ThemeIcon.astro";
import Hamburger from "./Hamburger.astro";
---
<div class="navigation">
    <!--<Hamburger />-->
    <div class="nav-links">
        <a href="/">Home</a>
        <!--<a href="/about/">About</a>-->
        <!--<a href="/blog/">Blog</a>-->
        <a href="/tags/" >Tags</a>
    </div>
</div>

<!--
<script is:inline>
    document.addEventListener('astro:page-load', () => {
        document.querySelector('.hamburger').addEventListener('click', () => {
            document.querySelector('.nav-links').classList.toggle('expanded');
        });
    });
</script>-->
