---
import type {CollectionEntry} from "astro:content";
// import type { Post } from 'types';
// const post: Post = Astro.props.post
export interface Props {
    post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const {
    title,
    author,
    description,
    ogImage,
    canonicalURL,
    pubDatetime,
    modDatetime,
    tags,
} = post.data;

const { Content } = await post.render();
---

<div>
    <h2><a href={`/posts/${post.slug}`}>{post.data.title}</a></h2>
    <p>{post.data.preview}</p>
</div>