---
import type { Post } from 'types';
import Date from "./Date.astro";
const post: Post = Astro.props.post
---
<div class="post-preview-container mb-10">
    <h2 class="mb-4"><a href={`/posts/${post.slug}`}>{post.data.title}</a></h2>
    <p class="mb-2">{post.data.preview}</p>
    <div class="post-date mb-12">
        <Date date={post.data.createtime}/>
    </div>
</div>