---
import type { Post } from 'types';
import Date from "./Date.astro";
const post: Post = Astro.props.post
---

<div class="preview">
    <h2><a href={`/posts/${post.slug}`}>{post.data.title}</a></h2>
    <p>{post.data.preview}</p>
    <div class="post-date">
        <Date date={post.data.createtime}/>
    </div>
</div>

<style>
    .post-date {
        font-size: 0.75rem;
    }
</style>